@import '~@angular/material/theming';
@include mat-core();

$bg-color-1: map-get($mat-teal, 100);
$bg-color-2: map-get($mat-teal, 800);
$bg-color-3: map-get($mat-teal, 600);

$ft-color-1: map-get(map-get($mat-teal, contrast), 100);
$ft-color-2: map-get(map-get($mat-teal, contrast), 800);
$ft-color-3: map-get(map-get($mat-teal, contrast), 600);